<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.dao.UserMapper">

    <select id="selectUsers" resultType="User">
        SELECT * FROM user WHERE 1=1
        <if test="query != null">
            <if test="query.name != null and query.name !=''">
                name like concat('%', #{query.name}, '%')
            </if>
            <if test="query.password != null and query.password !=''">
                password = #{query.password}
            </if>
            <if test="query.createBy != null and query.createBy !=''">
                create_by = #{query.createBy}
            </if>
            <if test="query.startCreateDate != null">
                create_date &gt;= #{query.startCreateDate}
            </if>
            <if test="query.endCreateDate != null">
                create_date &lt;= #{query.endCreateDate}
            </if>
            <if test="query.updateBy != null and query.updateBy !=''">
                update_by = #{query.updateBy}
            </if>
            <if test="query.startUpdateDate != null">
                update_date &gt;= #{query.startUpdateDate}
            </if>
            <if test="query.endUpdateDate != null">
                update_date &lt;= #{query.endUpdateDate}
            </if>
            <if test="query.delFlag != null and query.delFlag == '1'.toString()">
                del_flag = '1'
            </if>
            <if test="query.delFlag != null and query.delFlag == '0'.toString()">
                del_flag = '0'
            </if>
        </if>
    </select>

</mapper>